six
numpy<1.24
gluonnlp 
Cpython
#mxnet==1.8.0.post0
mxnet
pytorch-crf
#pytorch-crf @ git+https://github.com/kmkurn/pytorch-crf@e843718540512eb04d9b756fca04a0915affe175
konlpy
sentencepiece

torch
transformers



